html, body {
    height: 100%;
}

body {
    margin-left:4%;
    margin-right:2%;
    padding:0;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: underline;
    color: initial;
}

.title-bar {
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: none;
    display: flex;
    gap: 18px;
}

.logo-title {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: auto;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px 4px 1px 1px;
    margin-right: 10px;
}


.explore {
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.explore-logo{
    margin-top: auto;
    align-self: center;
}

.explore-text{
    font-size: 15px;
    align-self: center;
}

.about-title {
    font-size: 15px;
    margin-left: auto;
    margin-top: auto;
    padding-right:40px;
}

.main-body {
    display: flex;
    box-sizing: border-box;
    border-style: solid;
    flex-direction: column;
    background-image: url("./images/—Pngtree—korean new year sunrise blue_8796778.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60%;
    width: 100%;
    margin-top: 1%;
    border-radius: 10px;
  }

 .search-bar {
   display: flex;
   box-sizing: border-box;
   margin-top: 5em;
   margin-bottom: 3em;
}

.search-bar div {
    flex: 1 1 0;
}

.search-bar-blank {
    border-style: solid;
    text-align: center;    
}

.individual-bottom-box {
    background-color: white;
    border-style: solid;
    text-align: center;
}