html, body {
    height: 100%;
}

body {
    margin-left:20px;
    margin-right:15px;
    padding:0;
}

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: underline;
    color: initial;
}

.title-bar {
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: none;
    display: flex;
    gap: 1.4rem;
}

.logo-title {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 2rem;
    border-width: 2px;
    border-radius: 10px;
    padding: 0.1rem .4rem 0.1rem .1rem;
    margin-right: .6rem;
}

.explore {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.explore-logo{
    margin-top: auto;
    align-self: center;
}

.explore-text{
    font-size: 1rem;
    align-self: center;
}

.about-title {
    font-size: 1rem;
    margin-left: auto;
    margin-top: auto;
    padding-right:3rem;
}

.main-body {
    display: flex;
    box-sizing: border-box;
    border-style: solid;
    flex-direction: column;
    background-image: url("./images/—Pngtree—korean new year sunrise blue_8796778.png");
    background-repeat: no-repeat;
    background-size: 1560px;
    background-position: center;
    height: 85%;
    width: 100%;
    margin-top: 12px;
    border-radius: 10px;
    border-color: lightgrey;
  }

 .search-bar {
    font-size: 1rem;
    display: flex;
    box-sizing: border-box;
    margin-top: 5rem;
}

.search-bar div {
    flex: 1 1 0;
}

.search-bar-blank {
    border-style: solid;
    text-align: center;    
}

.individual-bottom-box {
    background-color: white;
    border-style: solid;
    text-align: center;
}

.about-upperbody {
    display: flex;
    box-sizing: border-box;
    background-color: #1F2937;
    height:20rem;
    width: 100%;
    margin-top: 12px;
    border-radius: 10px;
    border-color: lightgrey;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .about-upperbody-text {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    height: 18rem;
    width: 20rem;
  }

.large-upperbody-text {
    font-size: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.small-upperbody-text {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.contact-button {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.upperbody-img-place{
    box-sizing: border-box;
    border-style: solid;
    color:white;
    border-color: white;
    height: 10rem; 
    width: 15rem;
    align-self: center;
}

.about-midbody1{
    font-size: 1.5rem;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
}

.about-summary-boxes {
    display: flex;
    box-sizing: border-box;
    height:10rem;
    width: 100%;
    margin-top: 35px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.summary-boxes {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary-boxes-box {
    border-style: solid;
    height: 100px;
    width: 100px;
}

.summary-boxes-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}



