body {
    margin-left:25px;
    margin-right:25px;
    padding:0
}

.title-bar {
    background-color: lightgrey;
    box-sizing: border-box;
    border-radius: 15px;
    border-style: none;
    display: flex;
    gap: 18px;
}

.logo-title {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: auto;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px 4px 1px 1px;
    margin-right: 10px
}

.explore {
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.explore-logo{
    margin-top: auto;
    align-self: center;
}

.explore-text{
    font-size: 15px;
    align-self: center;
}

.favorites {
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.favorites-logo{
    margin-top: auto;
    align-self: center;
}

.favorites-text{
    font-size: 15px;
    align-self: center;

}

.about-title {
    font-size: 15px;
    margin-left: auto;
    margin-top: auto;
    padding-right:30px;
}